:root {
    --primary-background-color: #0f172a;
    --secondary-background-color: #111a30;


    --primary-text-color: #e2e8f0;
    --secondary-text-color: #94a3b8;
    --terceary-text-color: #42eeb7cc;

    --primary-border-color: #2dd4bf1a;

    --primary-card-background: linear-gradient(10deg,
            rgba(26, 40, 75, 1) 0%,
            rgba(15, 23, 42, 1) 50%,
            rgba(26, 40, 75, 1) 100%);
    ;
    --secondary-card-background: linear-gradient(84deg,
            rgba(26, 40, 75, 1) 0%,
            rgba(15, 23, 42, 1) 50%,
            rgba(26, 40, 75, 1) 100%);
    ;

    --terceary-card-background: linear-gradient(100deg,
            rgba(15, 23, 42, 0) -10%,
            rgba(26, 40, 75, 1) 40%,
            rgba(15, 23, 42, 0) 110%);

    --quaternary-card-background: linear-gradient(42deg,
            rgba(26, 40, 75, 1) 0%,
            rgba(25, 33, 52, 0.5) 100%,
            rgba(26, 40, 75, 1) 100%);

    --primary-textCard-font: 0.9em;
    --secondary--textCard-font: 0.8em;
    --ternary--textCard-font: 0.7em;
    --sb-track-color: #111a30;
    --sb-thumb-color: #2dd4bf1a;
    --sb-size: 0.2em;

    --second-slider-background-color: #94a3b88a;
}

*,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--primary-background-color);
    background: linear-gradient(34deg, rgba(26, 40, 75, 1) 0%, rgba(15, 23, 42, 1) 50%, rgba(26, 40, 75, 1) 100%);
    background-repeat: no-repeat;
    font-family: "roboto";
    color: var(--secondary-text-color);
}

a {
    color: var(--terceary-text-color);
    font-size: 0.84em;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
    background: #94a3b800;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    height: 0.3em;
    background-color: var(--second-slider-background-color);
    border-radius: 1em;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
    height: 0.3em;
    background-color: var(--second-slider-background-color);
    border-radius: 1em;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 0em;
    background-color: var(--primary-text-color);
    /*  slider progress trick  */
    box-shadow: -399px 0 0 400px var(--primary-text-color);
  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 0em;
    background-color: var(--primary-text-color);
    /*  slider progress trick  */
    box-shadow: -399px 0 0 400px var(--primary-text-color);
  }

.scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.scroll::-webkit-scrollbar {
    width: var(--sb-size)
}

.scroll::-webkit-scrollbar-track {
    border-radius: 0.1em;
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;

}


@media (width > 2000px) {
    body {
        font-size: 30px;
    }
}

@media (width <=2235px) {
    body {
        font-size: 25px;
    }
}

@media (width <=1753px) {
    body {
        font-size: 16px;
    }
}

@media (width <=1024px) {
    body {
        font-size: 12px;
    }
}

@media (width <=768px) {
    body {
        font-size: 9px;
    }
}