.songPlayer {
    position: fixed;
    right: 0.5em;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    background: var(--primary-card-background);
    z-index: 100;
    padding: 0.5em;
    border: 0.1em solid var(--primary-border-color);
    border-bottom: none;
    max-width: 20em;
    width: 100%;
    overflow: hidden;
}

.songPlayer--minimized {
    animation: minimize-songPlayer 2s ease forwards;
}

.songPlayer--display {
    animation: un-minimize-songPlayer 2s ease forwards;
}

.songPlayer__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.songPlayer__icon-minimize-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.songPlayer__icon-minimize {
    width: 1em;
    height: 1em;
    color: var(--primary-text-color);
}

.songPlayer__title {
    font-size: 1em;
    color: var(--primary-text-color);
    padding-bottom: 0.5em;
}
.songPlayer__img-background-container {
    position: absolute;
    width: 100%;
    height: 50%;
    filter: blur(30px);
    z-index: -1;
}

.songPlayer__img-background-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.253);
}


@keyframes un-minimize-songPlayer {
    from {
        translate: 0em 25.4em;
    }

    to {
        translate: 0em 0em;
    }
}

@keyframes minimize-songPlayer {
    from {
        translate: 0em 0em;
    }

    to {
        translate: 0em 25.4em;
    }
}