---
import { CSkills } from "@src/data/skills.data"
import { CRoutes } from "@src/models"
import Skill from "../Skill.astro"

const skillAnimation = {
    animationTime: 0,
    opacity: 1,
};

---

<section id={CRoutes.Skills}>
    <div class="skills__container scroll">
        {
            CSkills.map((skill) => {
                    skillAnimation.animationTime += 0.2;

                    const shouldRestTheOpacity = skillAnimation.opacity >= 0.3;

                    if (shouldRestTheOpacity) {
                        skillAnimation.opacity -= 0.045;
                    }

                    return (
                        <Skill
                            skillData={skill}
                            style={{
                                "--animation-delay": `${skillAnimation.animationTime}s`,
                                "--opacity": skillAnimation.opacity,
                            }}
                        />
                    );
                })
        }
    </div>
</section>

<style is:global>
    .skills__container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        grid-auto-rows: 5em;
        overflow-y: scroll;
    }

    .skills__container > * {
        animation: skillAnimation 2s infinite;
        background: var(--quaternary-card-background);
        animation-delay: var(--animation-delay);
        opacity: var(--opacity);
    }

</style>
