---
import Portfolio from "@src/components/Portfolio.astro";
import Layout from "@src/layouts/Layout.astro";
---

<Layout>
	<div class="global-container">
		<Portfolio />
	</div>
</Layout>

<style is:global>
	.global-container {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
