---
import Experiences from "@components/Experiences.astro"
import Projects from "@components/Projects.astro"
import { CRoutes } from "@models/index"
---

<section class="carrousel">
    <header></header>
    <main class="carrousel__sections-Contaier">
        <Projects />
        <Experiences />
        <section id={CRoutes.Skills}>Testtttttt</section>
    </main>
    <footer></footer>
</section>

<style is:global>
    .carrousel {
        height: 100%;
        width: 45em;
        display: flex;
        flex-direction: column;
        border: 0.1em solid var(--primary-border-color);
        border-left: none;
    }

    .carrousel__sections-Contaier {
        height: 100%;
        flex-grow: 1;
        overflow: hidden;
        scroll-behavior: smooth;
        white-space: nowrap;
    }
    .carrousel__sections-Contaier > * {
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
    }

    @media (width <= 606px) {
        .carrousel {
            width: 100%;
        }
    }
</style>
