---
import Projects from "@components/Projects.astro";
import { CRoutes } from "@models/index";
---

<section class="carrousel">
    <header></header>
    <main class="carrousel__sections-Contaier">
        <Projects />
        <section id={CRoutes.Experience}>Expeee</section>
        <section id={CRoutes.Test}>Testtttttt</section>
    </main>
    <footer>
        <nav>
            <ul class="carrousel__links-list">
                {
                    Object.entries(CRoutes).map(([, value]) => (
                        <a href={`#${value}`}>{value}</a>
                    ))
                }
            </ul>
        </nav>
    </footer>
    <style is:global>
        .carrousel {
            width: 40em;
            display: flex;
            flex-direction: column;
        }

        .carrousel__links-list {
            display: flex;
            gap: 0.3em;
        }

        .carrousel__sections-Contaier {
            flex-grow: 1;
            overflow: hidden;
            scroll-behavior: smooth;
            white-space: nowrap;
        }
        .carrousel__sections-Contaier > * {
            width: 100%;
            height: 25em;
            display: inline-block;
            overflow: hidden;
        }
    </style>
</section>
