---
import Experience from "@src/components/Experience.astro";
import { CRoutes, CTechs } from "@src/models";
---

<section id={CRoutes.Experience} class="scroll experience">
    <div class="scroll experience__container">
        <Experience
            data={{
                company: "apple",
                startDate: "2011-12",
                endDate: "acutal",
                description: "",
                profesion: "Senior Linux Manager",
                techs: [
                    CTechs.Typescript,
                    CTechs.React,
                    CTechs.Firebase,
                    CTechs.ReactRouterDom,
                    CTechs.Sooner,
                    "react winbox",
                ],
            }}
        />
        <Experience
            data={{
                company: "apple",
                startDate: "2011-12",
                endDate: "2012-12",
                description: "Description",
                profesion: "Senior Linux Manager",
                techs: [
                    CTechs.Typescript,
                    CTechs.React,
                    CTechs.Firebase,
                    CTechs.ReactRouterDom,
                    CTechs.Sooner,
                    "react winbox",
                ],
            }}
        />
        <Experience
            data={{
                company: "apple",
                startDate: "2011-12",
                endDate: "2012-12",
                description: "Description",
                profesion: "Senior Linux Manager",
                techs: [
                    CTechs.Typescript,
                    CTechs.React,
                    CTechs.Firebase,
                    CTechs.ReactRouterDom,
                    CTechs.Sooner,
                    "react winbox",
                ],
            }}
        />
        <Experience
            data={{
                company: "apple",
                startDate: "2011-12",
                endDate: "2012-12",
                description: "Description",
                profesion: "Senior Linux Manager",
                techs: [
                    CTechs.Typescript,
                    CTechs.React,
                    CTechs.Firebase,
                    CTechs.ReactRouterDom,
                    CTechs.Sooner,
                    "react winbox",
                ],
            }}
        />
        <Experience
            data={{
                company: "apple",
                startDate: "2011-12",
                endDate: "2012-12",
                description: "Description",
                profesion: "Senior Linux Manager",
                techs: [
                    CTechs.Typescript,
                    CTechs.React,
                    CTechs.Firebase,
                    CTechs.ReactRouterDom,
                    CTechs.Sooner,
                    "react winbox",
                ],
            }}
        />
        <Experience
            data={{
                company: "apple",
                startDate: "2011-12",
                endDate: "2012-12",
                description: "Description",
                profesion: "Senior Linux Manager",
                techs: [
                    CTechs.Typescript,
                    CTechs.React,
                    CTechs.Firebase,
                    CTechs.ReactRouterDom,
                    CTechs.Sooner,
                    "react winbox",
                ],
            }}
        />
    </div>
</section>
<style is:global>
    .experience {
        height: 100%;
    }

    .experience__container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        overflow-y: scroll;
    }

    .experience__container > * {
        flex-grow: 1;
    }
</style>
