---
import { CRoutes } from "@src/models";
---

<section class="navigation">
    <nav class="navigation__nav">
        <ul class="navigation__list">
            {
                Object.entries(CRoutes).map(([, value]) => (
                    <li class="navigation__list-item">
                        <a class="navigation__ancord" href={`#${value}`}>
                            {value}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</section>

<script src="@scripts/navigation.script"></script>

<style is:global>
    .navigation {
        height: 100%;
        border: none;
        padding: 0;
    }
    .navigation__nav {
        height: 100%;
    }
    .navigation__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navigation__list-item {
        flex-grow: 1;
    }
    .navigation__ancord {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        font-weight: 900;
        text-transform: capitalize;
        text-decoration: none;
        border: 0.1em solid var(--primary-border-color);
        border-radius: 0.05em;
    }

    .navigation__ancord:hover,
    .navigation__ancord-selected {
        background: var(--terceary-card-background);
    }

    @media (width <= 606px) {
        .navigation__list {
            height: 3em;
            flex-direction: row;
        }

        .navigation__ancord {
            border-top: none;
            border-bottom: none;
        }
    }
</style>
