---
import About from "@components/About.astro";
import CarrouselOfSections from "@components/CarrouselOfSections.astro";
---

<div class="portfolio-container">
    <About />
    <CarrouselOfSections />
</div>
<style is:global>
    .portfolio-container {
        display: flex;
        justify-content: center;

        border-radius: 0.2em;
    }

    .portfolio-container > * {
        padding: 1em;
        border: 0.1em solid var(--primary-border-color);
    }
</style>
