---
import About from "@components/About.astro";
import CarrouselOfSections from "@components/CarrouselOfSections.astro";
---

<div class="portfolio-container">
    <About />
    <CarrouselOfSections />
</div>
<style>
    .portfolio-container {
        display: flex;

        border: 0.1em solid var(--primary-border-color);
        border-radius: 0.2em;
    }
</style>
