---
import CarrouselOfSections from "@components/CarrouselOfSections.astro";
import Navigation from "@components/Navigation.astro";
import About from "@components/Sections/About.astro";
import Driver from "@components/Driver/Driver.astro"
---

<div class="portfolio__container">
    <div class="portfolio__nav-about-container">
        <Driver/>
        <About />
        <Navigation />
    </div>
    <CarrouselOfSections />
</div>

<script src="@scripts/scrollSection.script"></script>

<style is:global>
    .portfolio__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 27.399375em;

        border-radius: 0.2em;
    }

    .portfolio__nav-about-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .portfolio__container > .portfolio__nav-about-container > * {
        flex-grow: 1;
    }

    @media (width <= 606px) {
        .portfolio__container {
            width: 80%;
            flex-direction: column;
        }

        .portfolio__nav-about-container {
            width: 100%;
            overflow: initial;
        }
    }
</style>
