---
import About from "@components/About.astro";
---

<div class="portfolio-container">
    <About />
    <div>
        <section>desc and all</section>
        <section>desc and all</section>
        <section>desc and all</section>
    </div>
</div>
<style>
    .portfolio-container {
        display: flex;

        border: 0.1em solid var(--primary-border-color);
        border-radius: 0.2em;
    }
</style>
