---
import { CRoutes } from "@src/models";

const projects = [
    {
        name: "Example1",
        url: "https://example.com",
        image: "",
    },
];
---

<section class="projectsSection" id={CRoutes.Projects}>
    <header>
        <h4 class="projectsSection__title">{CRoutes.Projects}</h4>
    </header>
    <main>
        <div>
            {projects.map((project) => project.name)}
        </div>
    </main>
</section>

<style>
    .projectsSection {
        width: 100%;
        display: inline-block;
    }

    .projectsSection__title {
        color: var(--primary-text-color);
        margin-top: 0.3em;
    }
</style>
