---
import { CRoutes, IProject } from "@src/models";
import Project from "./Project.astro";

const projects: IProject[] = [
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
    {
        title: "Example1",
        imageUrl: "",
        techs: ["React", "Typescript"],
        githubURL: "https://example.com",
        demoURL: "https://example.com",
    },
];
---

<section class="projectsSection" id={CRoutes.Projects}>
    <div class="projectsSection__project-container scroll">
        {projects.map((projectData) => <Project data={projectData} />)}
    </div>
</section>

<style>
    .projectsSection {
        height: 100%;
    }
    .projectsSection__project-container {
        padding-right: 0.2em;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        overflow-y: scroll;
    }
</style>
