---
import Project from "@components/Project.astro";
import { projects } from "@data/projects.data";
import { CRoutes } from "@src/models";
---

<section class="projectsSection" id={CRoutes.Projects}>
    <div class="projectsSection__project-container scroll">
        {projects.map((projectData) => <Project data={projectData} />)}
    </div>
</section>

<style is:global>
    .projectsSection {
        height: 100%;
    }
    .projectsSection__project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));

        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }

    .projectsSection__project-container > * {
        scroll-snap-align: start;
    }
</style>
