---
import { IconInfoCircle } from "@components/Icons";
---

<div class="driver" id="driver">
    <IconInfoCircle className="driver__icon" />
</div>

<style>
    .driver {
        position: absolute;
        top: -1.5em;
        right: 0;
        cursor: pointer;
    }

    .driver__icon {
        animation: driver__icon-animation 2.5s linear both infinite;
        animation-timing-function: steps(4, 4);
    }
    @keyframes driver__icon-animation {
        0% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(-1px);
        }
        20% {
            transform: translateY(-1px);
        }
        30% {
            transform: translateY(1px);
        }
        40% {
            transform: translateY(1px);
        }
        50% {
            transform: translateY(0);
        }
    }

    @media (width <= 606px) {
        .driver {
            top: -7.8em;
        }
    }
</style>
<script>
    const driver = document.getElementById("driver");

    const handleOnClick = async () => {
        const DriverManager = await import("./utils/globalDriver.util").then(
            (module) => module.DriverManager,
        );
        const localSteps = await import("@src/data/driverjs.data").then(
            (module) => module.localSteps,
        );

        const driver = new DriverManager([], localSteps);

        driver.showSteps();
    };

    driver?.addEventListener("click", handleOnClick);
</script>
