.animatedBackground__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    z-index: -20;
    overflow: hidden;
}

.animatedBackground__wrapper {
    white-space: nowrap;
    transform: translateX(-45vh) translateY(-60vw);
    rotate: 310deg;
}

.animatedBackground__star-container {
    position: relative;
    display: inline-flex;
    margin-left: 1em;
    margin-top: 1em;
    width: 0.145rem;
    height: 0.145rem;
    animation: startMovement var(--animation-time) infinite linear;
    animation-delay: var(--animation-delay);
    background: linear-gradient(to right,
            rgb(100, 116, 139),
            rgba(0, 0, 0, 0));
    filter: drop-shadow(0px 3px 0.5px white);
    scale: var(--scale);
}

.animatedBackground__star {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 1px;
    height: 50px;
    background: linear-gradient(to top,
            rgb(100, 116, 139),
            rgba(0, 0, 0, 0));
    filter: drop-shadow(0px 3px 2px white);
    opacity: 100%;
}

.animatedBackground__star-container--tiny {
    filter: drop-shadow(0px 3px 1px white);
}

@keyframes startMovement {
    from {}

    to {
        transform: translateY(290dvh);
        opacity: 0;
    }
}