---
import "@fontsource/roboto"
import AnimatedBackground from "@src/components/AnimatedBackground.astro"
import "@styles/global.css"
import "@styles/normalize.css"

const title = "Jes015";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <AnimatedBackground />
        <div id="modalElement" />
        <slot />
    </body>
</html>
