---
import AnimatedBackground from "@components/AnimatedBackground.astro"
import "@fontsource/roboto"
import { KeyListener, OnTypeComponents, SongPlayer } from "@src/components"
import "@styles/global.css"
import "@styles/normalize.css"

const title = "Jes015's portfolio";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Enthusiastic about Linux, Nest, and Astro."
        />
        <meta
            property="og:image"
            content="https://avatars.githubusercontent.com/u/120581623?v=4"
        />
        <meta name="twitter:title" content="Jes015's portfolio" />
        <meta
            name="twitter:description"
            content="Enthusiastic about Linux, Nest, and Astro. "
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:image"
            content="https://avatars.githubusercontent.com/u/120581623?v=4"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <OnTypeComponents client:load>
            <AnimatedBackground />
            <SongPlayer client:only="react" />
        </OnTypeComponents>
        <div id="modalElement"></div>
        <slot />
        <KeyListener client:media="(min-width: 600px)" />
    </body>
</html>
