.queue {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 0.4em;
}
.queue__title {
    color: var(--primary-text-color);
    font-size: 1.3em;
    font-weight: 600;
}

.queue__list {
    max-height: 15em;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}